*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif ;
}
.navbar{
    width: 100%;
    max-width: 1600px;
    height: 92px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 120px;
    margin: 0 auto;
    background-color: #FFFFFF;
}
.list{
    display: flex;
    gap: 40px;
    list-style: none;
}
.list a {
    text-decoration: none;
    color: #000000;
    font-size: 16px; 
}
.button button{
    background-color: #469165;
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
}