*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif ;
}
.navbar{
    width: 100%;
    max-width: 1600px;
    height: 92px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 120px;
    margin: 0 auto;
    background-color: #FFFFFF;
}
.list{
    display: flex;
    gap: 40px;
    list-style: none;
}
.list a {
    text-decoration: none;
    color: #000000;
    font-size: 16px; 
}
.button button{
    background-color: #469165;
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
}
.hero{
    width: 100%;
    max-width: 1600px;
    height: 674px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content:center;
    align-items: center;
    gap: 40px;
    padding: 70px 120px 134px 120px;
    margin: 0 auto;
    background-image:url(./assets/hero-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
}
.content p {
 font-size: 18px;
 max-width: 600px;
 align-items: center;
 flex-direction: column;
 display: flex;
 margin-bottom: 20px;
}
.herobuttons{
    display: flex;
    gap: 60px;
}
.firstbutton{
    background-color: #469165 ;
    color: white;
    padding: 14px 28px;
    border: none;
    font-size: 16px;
    cursor: pointer;
}
.secondbutton{
    background-color: transparent;
    color:white;
    padding: 14px 28px;
    border: 1px solid white;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    align-items: center;
    display: flex;
    gap: 8px;
}
.badge{
    border: 1 px solid;
    padding: 8px 16px;
    margin-bottom: 24px;
    display: inline-flex;
    border-radius: 50px;
    gap: 8px;
}
.textgreen{
    color: #469165;
}